@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
} 

	
	<main>
		<section class="header-video adventure">
			<div id="hero_video">
				<div class="wrapper">
				<div class="container container-custom">
					
					<h3>@Model.Slider.Name</h3>
					<p>@Model.Slider.Description</p>
					<a  asp-controller="Tour" asp-action="Index" class="btn_1">Read more</a>
				</div>
			</div>
			</div>
			 https://www.youtube.com/watch?v=b2wGKy3Gcm8
			<img src=" https://www.youtube.com/watch?v=b2wGKy3Gcm8" alt="" class="header-video--media" data-video-src=" https://www.youtube.com/watch?v=b2wGKy3Gcm8" data-teaser-source="video/voyage" data-provider="" data-video-width="1000" data-video-height="500">
			
			 @*<img src="~/img/@Model.Slider.VideoURL" alt="" class="header-video--media" data-video-src="~/video/@Model.Slider.VideoURL" data-teaser-source="video/voyage" data-provider="" data-video-width="1000" data-video-height="500">*@
		</section>
		<!-- /header-video -->
		
		<div class="container container-custom margin_80_55">
			<section class="add_bottom_45">
				<div class="main_title_3">
					<span><em></em></span>
					<h2>Popular Voyage Tours</h2>
					<p>Choose from a wide range of places to stay and tours to enjoy for the ultimate Azerbaijan travel experience.</p>
				</div>

				<div id="reccomended_adventure" class="owl-carousel owl-theme">

					
					@foreach (var tour in Model.TripList)
				   {
					   <div class="item">
						<a  asp-controller="Tour" asp-action="Detail" asp-route-id="@tour.Id" class="grid_item_adventure">
							<figure>
								
									<div class="score"><strong>@tour.Review</strong></div>
							   
								<img src="~/img/@tour.ImageURL" class="img-fluid" alt="">
								<div class="info">
									<em>@tour.Duration in @tour.City</em>
									<h3>@tour.Name</h3>
								</div>
							</figure>
						</a>
					</div>
					   
				   }
				   
				

				</div>
				<!-- /reccomended_aventure -->
			</section>
			<!-- /section -->

			<div class="banner">
				<div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)" >
					<div >
						
						<small>Adventure</small>
						<h3>Your Perfect<br>Advenure Experience</h3>
						<p>Go to details about inspiring directions of Azerbaijan</p>
						<a   asp-controller="About" asp-action="Index" class="btn_1">Read more</a>
					
					</div>
				</div>
				<!-- /wrapper -->
			</div>
			<!-- /banner -->


	</main>
	<!-- /main -->
