@model TripDetailViewModel
@{
    ViewData["Title"] = "Details";
}

  <!-- Tabs -->
              <div class="card-mb-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-bs-toggle="tab"
                      href="#home"
                      role="tab"
                      ><span class="hidden-sm-up"></span>
                      <span class="hidden-xs-down">@Model.Trip.Name</span></a
                    >
                  </li>
                
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabcontent-border">
                  <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="p-20">
                      <p>
                        @Model.Trip.Description
                      </p>
                      <p> Price: @Model.Trip.Price $ per person</p>
                      <p>Additional Information: @Model.Trip.AdditionalInfo</p>
                      <p>City: @Model.Trip.City</p>
                      <img style="max-width: 40%;"
                        src="~/img/@Model.Trip.ImageURL"
                        class="img-fluid"
                      />
                      
                      <p> @foreach (var pic in Model.Images)
                         {
                             <img style="max-width: 20%;"
                        src="~/img/@pic.ImageURL"
                        class="img-fluid"
                      />
                             
                         }</p>
                    </div>
                  </div>
                
                </div>
    <a class="btn btn-success" asp-area="Admin" asp-controller="Tour" asp-action="Update" asp-route-id="@Model.Trip.Id">Edit</a>
    <a class="btn btn-danger" asp-area="Admin" asp-controller="Tour" asp-action="Delete" asp-route-id="@Model.Trip.Id">Delete</a>
              </div>
