@model List<Trip>
@{
    ViewData["Title"] = "Index";
}

 <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Basic Datatable</h5>
                  <div class="table-responsive">
                    <table
                      id="zero_config"
                      class="table table-striped table-bordered"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Price</th>
                          <th>Duration</th>
                          <th>Capacity</th>
                          <th>City</th>
                          <th>Operations</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var trip in Model)
                         {
                        <tr>
                          <td>@trip.Name</td>
                          <td>@trip.Description</td>
                          <td>@trip.Price</td>
                          <td>@trip.Duration days</td>
                          <td>@trip.Capacity</td>
                          <td>@trip.City</td>
                        <td><a class="btn btn-primary" asp-controller="Tour" asp-action="Details" asp-route-id="@trip.Id">Detail</a></td>
                        <td> <a class="btn btn-success" asp-controller="Tour" asp-action="Update" asp-route-id="@trip.Id">Update</a></td>
                         <td><a class="btn btn-danger" asp-controller="Tour" asp-action="Delete" asp-route-id="@trip.Id">Delete</a></td> 
                        </tr>
                             
                         }
                     
                      </tbody>
                      <tfoot>
                       
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>

