@model TripDetailViewModel
	<main>
		<section class="hero_in adventure_detail" style=" background:url(@Url.Content($"~/img/{@Model.Trip.ImageURL}")) center  center/cover no-repeat; ">
			<div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
				<div class="container">
					<div class="main_info">
					<div class="row">
						<div class="col-lg-4">
							<div class="d-flex align-items-center justify-content-between mb-3"><em>@Model.Trip.Duration Day Trip in @Model.Trip.City.Name</em><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></div>
							<h1>@Model.Trip.Name</h1>
							@*<p>@Model.Trip.City.Name</p>*@
						</div>
						<div class="col-lg-8">
							<div class="pl-lg-4">
							<h3>@Html.Raw(Model.Trip.Description)</h3>
							<ul>
								<li><i class="pe-7s-clock"></i>Duration <span>@Model.Trip.Duration days @Model.Trip.City.Name</span></li>
								<li><i class="pe-7s-graph3"></i>Activity level <span>@Model.Trip.Level</span></li>
								<li><i class="pe-7s-shopbag"></i>Includes <span>Equipment, Drinks, Accommodations, Food</span></li>
							</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
					<!-- /main_info -->
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="bg_color_1">
			<nav class="secondary_nav sticky_horizontal">
				<div class="container">
					<div class="d-flex align-items-center justify-content-between">
						<div><h6 class="m-0">From $@Model.Trip.Price per person</h6></div>
						<div><a class="aside-panel-bt btn_1" asp-controller="Tour" asp-action="Detail" >See dates</a></div>
					</div>
				</div>
			</nav>
			<div class="container margin_60_35 adventure_description">
				<div class="row mb-5">
					<div class="col-lg-4 fixed_title">
						<h2>What you'll do</h2>
					</div>
					<div class="col-lg-8">
						<div class="pl-lg-4">
							<p class="lead">"@Html.Raw(Model.Trip.AdditionalInfo)"</p>
							<p>@Model.Trip.AdditionalInfo</p>
						    <p>@Model.Trip.AdditionalInfo</p>
							<h6>Pictures from our users</h6>
		    				<div class="pictures magnific-gallery clearfix">
							
								@foreach (var image in @Model.Images)
							   {
			    				<figure><a 
									title="Photo title" data-effect="mfp-zoom-in">
									<img src="~/img/gallery/@image.ImageURL" alt=""></a></figure>
								   
							   }


			    			</div>
		    				<!-- /pictures -->
						</div>
					</div>
				</div>
				<!-- /row -->

				<div class="row mb-5">
					<div class="col-lg-4 fixed_title">
						<h2>What's included</h2>
					</div>
					<div class="col-lg-8">
						<div class="pl-lg-4">
							<ul class="list_feat clearfix">
								<li>
									<figure><img src="~/img/icon_included_1.svg" alt=""></figure>
									<h4>Food</h4>
									<p>1 breakfast, 1 dinner, snacks</p>
								</li>
								<li>
									<figure><img src="~/img/icon_included_2.svg" alt=""></figure>
									<h4>Drinks</h4>
									<p>Water, Beer</p>
								</li>
								<li>
									<figure><img src="~/img/icon_included_3.svg" alt=""></figure>
									<h4>Equipment</h4>
									<p>Sports equipment, other</p>
								</li>
								<li>
									<figure><img src="~/img/icon_included_4.svg" alt=""></figure>
									<h4>Accommodation</h4>
									<p>Bed and breakfast</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->

		

				
				

			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->
	<div asp-validation-summary = "ModelOnly" class= "text-danger">  </div>
	@*<form method="post" asp-controller="Tour" asp-action="Detail">	*@

		<div id="panel_dates" class="menu_fixed">
		<a class="aside-panel-bt" href="#0"><i class="icon_close"></i></a>
			<div class="box_detail booking">
				<h5>Available Dates</h5>
				<p>Idque vocibus pri et, ea soleat option tincidunt eos. Usu ad erat utamur fabellas, eu nisl iusto deserunt has. </p>
			    <div class="form-group" id="input_date">
			        <input id="startDate"  class="form-control dates" type="text"  placeholder="StartDate">
					  <span class="text-danger" asp-validation-for="BookingViewModel.StartDate"></span>
			        <i class="icon_calendar"></i>
			    </div>
				@*<div class="form-group" id="input_date">
			        <input asp-for="BookingViewModel.EndDate" class="form-control" type="datetime"  name="dates" placeholder="EndDate">
			        <span class="text-danger" asp-validation-for="BookingViewModel.EndDate"></span>

			        <i class="icon_calendar"></i>
			    </div>*@
			    <div class="panel-dropdown">
			        <a href="#">Guests <span class="qtyTotal">1</span></a>
			        <div class="panel-dropdown-content right">
			            <div class="qtyButtons">
			                <label>Adults</label>
			                <input type="text" id="guestCount" class="qtyInput" value="1">
							<span class="text-danger" asp-validation-for="BookingViewModel.Guests"></span>
			            </div>
			            @*<div class="qtyButtons">
			                <label>Childrens</label>
			                <input type="text" name="qtyInput" value="0">
			            </div>*@
			        </div>
			    </div>
			    <button type="submit"  id="btnSubmit" class=" add_top_30 btn_1 full-width =">Book now</button>
			    <a  asp-controller="Basket" asp-action="AddToBasket" asp-route-id="BookingViewModel.Trip.Id "class="btn_1 full-width outline wishlist"><i class="icon_heart"></i> Add to wishlist</a>
			    <div class="text-center"><small>No money charged in this step</small></div>
			</div>
			<!-- /box_detail booking -->
			<div class="additional_txt">
			<h6>Cancellation policy</h6>
				<p>Has vidit dicant cu, vel ad nullam debitis offendit. Ea veri elaboraret usu.</p>
				<p>ulla fierent honestatis te mea, ei sea nibh accumsan consulatu. Est tale minimum ei, quaeque delectus scribentur et quo.</p>
			</div>
		</div>
		@*</form>*@

		@section Scripts{

	

			<!-- DATEPICKER  -->
	<script asp-append-version="true">
	$('.dates').daterangepicker({
		"singleDatePicker": true,
		"autoApply": true,
		parentEl:'#input_date',
		"linkedCalendars": false,
		minDate:new Date(),
		"showCustomRangeLabel": false
	}, function(start, end, label) {
	  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
	});	



var myBtn = document.getElementById('btnSubmit');  
myBtn.addEventListener('click', function(e) {  
	let startDate = $('#startDate');
	let guest = $('#guestCount');
    startDateVal = startDate.val().replace(/\s+/g, '');
    guestCountVal = guest.val().replace(/\s+/g, '');
	let data = {
        StartDate: startDateVal,
        Guests: guestCountVal,
    }


	$.ajax({
		type: "POST",
		url: '@Url.Action("Detail", "Tour")',
        data: { BookingViewModel: data},
      success: function (response) {
         if (response.success){
            console.log(response)
         }
	  },
        
      error:function (response){
    
		 console.log(response)
      }
 });
});
	

	</script>


	

		<!-- INPUT QUANTITY  -->
	<script src="~/js/input_qty.js"></script>
		}
